body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img{
    border-radius: 50%;
    margin: 15px 15px 0px 15px;
}

section{
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    margin: 15px;
    max-width: 40%;
    border-radius: 5px;
}

section ul{
    list-style-type: none;
    padding: 0;
}

section li{
    margin: 5px 0px;
}