* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* use border to show the idea of boxes in CSS, can delete afterwards */
/* div, h1, body {
    border: 1px solid;
} */

h1 {
    color: rgb(0, 0, 255);
    font-size: 48px;
    text-align: center;
}

/* show the difference between padding and margin here */
hr {
    /* padding-bottom: 5%; */
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid;
}

/* removes extra margin around the side of the form */
body {
    margin: 0px;
}

span, label, button {
    margin-left: 10px;
}

#basic-inputs {
    display: flex;
    flex-direction: row;
    /* show the responsiveness with wrap */
    flex-wrap: wrap; 
    gap: 10px;
}

/* another example of padding vs margin */
/* MENTION: padding is used to change the content's position within the element's border */
/* MENTION: margin changes the position of the element in relation to the page layout */
input {
    /* margin-left: 5px; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}

/* wait a second, the color input looks really weird */
#color {
    padding: 0px;
    border: 0px;
    background-color: white;
}

/* make sure to add class/id tags for gender-div, gender-option, and gender in HTML */
#gender-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.gender-option {
    margin-left: 10px;
    margin-bottom: 1%;
}

/* they can mess around with the calendar and other dropdowns on their own, focus on the button */
button {
    margin-top: 0px;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

    background-color: rgb(216, 216, 216);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

    cursor: pointer;
    
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(169, 235, 255);
}